<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resto.service.customer.mapper.ThirdCustomerMapper">
  <resultMap id="BaseResultMap" type="com.resto.service.customer.entity.ThirdCustomer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>