<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>apache shiro配置</description>

    <!--<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">-->
        <!--&lt;!&ndash;<property name="securityManager" ref="securityManager"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="loginUrl" value="/page/login"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="successUrl" value="/index"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="unauthorizedUrl" value="/page/401"/>&ndash;&gt;-->
        <!--<property name="filterChainDefinitions">-->
            <!--<value>-->
                <!--&lt;!&ndash; 静态资源允许访问 &ndash;&gt;-->
                <!--/assets/** = anon-->
                <!--&lt;!&ndash; 登录页允许访问 &ndash;&gt;-->
                <!--/branduser/login = anon-->
                <!--/installedPermission =anon-->
                <!--/paynotify/alipay_notify=anon&lt;!&ndash; 支付宝通知 &ndash;&gt;-->
                <!--/paynotify/alipay_return=anon&lt;!&ndash; 支付宝通知 &ndash;&gt;-->
                <!--/paynotify/wxpay_notify=anon&lt;!&ndash; 微信通知 &ndash;&gt;-->
                <!--&lt;!&ndash; 其他资源需要认证 &ndash;&gt;-->
                <!--/** = authc-->
            <!--</value>-->
        <!--</property>-->
    <!--</bean>-->

    <!-- 缓存管理器 使用Ehcache实现 -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>

    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"/>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO"/>
    </bean>

    <!--&lt;!&ndash; 安全管理器 &ndash;&gt;-->
    <!--<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">-->
        <!--<property name="realms">-->
            <!--<list>-->
                <!--<ref bean="securityRealm"/>-->
            <!--</list>-->
        <!--</property>-->
        <!--&lt;!&ndash; cacheManager,集合spring缓存工厂 &ndash;&gt;-->
        <!--<property name="cacheManager" ref="shiroEhcacheManager" />-->
        <!--<property name="sessionManager" ref="sessionManager" />-->
    <!--</bean>-->

    <!--&lt;!&ndash; Shiro生命周期处理器 &ndash;&gt;-->
    <!--<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>-->

</beans>