<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resto.shop.web.dao.VirtualProductsMapper">
    <resultMap id="BaseResultMap" type="com.resto.shop.web.model.VirtualProducts">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="is_used" property="isUsed" jdbcType="TINYINT"></result>
        <result column="create_time" property="createTime" jdbcType="DATE"></result>
        <result column="shop_detail_id" property="shopDetailId" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="Base_Column_List">id,name,is_used,create_time,shop_detail_id</sql>

    <!--查询所有的虚拟餐品-->
    <select id="getAllProducuts"  resultMap="BaseResultMap" parameterType="java.lang.String">
      SELECT * from tb_virtual_products WHERE shop_detail_id = #{shopId,jdbcType=VARCHAR}
    </select>

    <!--根据虚拟餐品id查询到关系表中的厨房id-->
    <select id="getAllKitchenIdById" resultType="java.lang.Integer">
       select kitchen_id FROM tb_virtual_products_kitchen where virtual_id = #{virtualId,jdbcType=INTEGER}
    </select>

    <!--根据id查询虚拟餐品-->
    <select id="getVirtualProductsById" resultMap="BaseResultMap">
      SELECT * from tb_virtual_products where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getVirtualProductsAndKitchenById" resultType="com.resto.shop.web.model.VirtualProductsAndKitchen" >
        SELECT  * from tb_virtual_products_kitchen where virtual_id = #{virtualId,jdbcType=INTEGER}
    </select>

    <!--删除虚拟餐品表-->
    <delete id="deleteVirtualProducts" parameterType="java.lang.Integer">DELETE from tb_virtual_products where id = #{id,jdbcType=INTEGER}</delete>

    <!--添加虚拟餐品表-->
    <insert id="insertSelective" parameterType="com.resto.shop.web.model.VirtualProducts">INSERT INTO tb_virtual_products(id,name,is_used,create_time,shop_detail_id) VALUES (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{isUsed,jdbcType=TINYINT},#{createTime,jdbcType=DATE},#{shopDetailId,jdbcType=VARCHAR})</insert>

    <!--添加虚拟餐品和厨房关系表-->
    <insert id="insertVirtualProductsKitchen" parameterType="com.resto.shop.web.model.VirtualProductsAndKitchen">INSERT INTO tb_virtual_products_kitchen (virtual_id,kitchen_id) VALUES (#{virtualId,jdbcType=INTEGER},#{kitchenId,jdbcType=INTEGER})</insert>

    <insert id="insertVirtualProducts" parameterType="com.resto.shop.web.model.VirtualProducts">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="isUsed != null">is_used,</if>
            <if test="createTime != null">create_time,</if>
            <if test="shopDetailId !=null">shop_detail_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="isUsed != null">#{isUsed,jdbcType=INTEGER},</if>
            <if test="createTime != null">#{createTime,jdbcType=DATE},</if>
            <if test="shopDetailId !=null">#{shopDetailId,jdbcType=vA},</if>
        </trim>
    </insert>

    <!--修改虚拟餐品-->
    <update id="updateVirtual" parameterType="com.resto.shop.web.model.VirtualProducts">
        UPDATE tb_virtual_products SET name=#{name,jdbcType=VARCHAR},is_used=#{isUsed,jdbcType=INTEGER},create_time=#{createTime,jdbcType=DATE},shop_detail_id=#{shopDetailId,jdbcType=VARCHAR} where id=#{id,jdbcType=INTEGER}
    </update>

    <!--删除虚拟餐品-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from tb_virtual_products where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--删除虚拟餐品关系表-->
    <delete id="deleteVirtualById" parameterType="java.lang.Integer">
        delete from tb_virtual_products_kitchen where virtual_id = #{virtualId,jdbcType=INTEGER}
    </delete>

    <resultMap id="ResultOfInteger" type="java.lang.Integer">
        <result column="budget" property="budget" jdbcType="INTEGER" />
    </resultMap>

    <!--查询最大的Id-->
    <select id="selectMaxId" resultType="int">
        select MAX(id) FROM tb_virtual_products
    </select>

    <select id="selectKitchenByShopId" resultType="com.resto.shop.web.model.VirtualProductsAndKitchen" >
        SELECT vpk.* from tb_virtual_products_kitchen vpk LEFT JOIN tb_virtual_products vp on vpk.virtual_id = vp.id where vp.shop_detail_id = #{shopId}
    </select>

</mapper>