<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.service.brand.mapper.ModuleListMapper">
  <resultMap id="BaseResultMap" type="com.resto.service.brand.entity.ModuleList">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="sign" property="sign" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">id, name, sign</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">select 
    <include refid="Base_Column_List"/> from module_list where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">delete from module_list where id = #{id,jdbcType=INTEGER}</delete>
  <insert id="insert" parameterType="com.resto.service.brand.entity.ModuleList">insert into module_list (id, name, sign ) values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR} )</insert>
  <insert id="insertSelective" parameterType="com.resto.service.brand.entity.ModuleList">insert into module_list
    <trim prefix="(" suffix=")" suffixOverrides=","> 
      <if test="id != null">id,</if>  
      <if test="name != null">name,</if>  
      <if test="sign != null">sign,</if> 
    </trim>  
    <trim prefix="values (" suffix=")" suffixOverrides=","> 
      <if test="id != null">#{id,jdbcType=INTEGER},</if>  
      <if test="name != null">#{name,jdbcType=VARCHAR},</if>  
      <if test="sign != null">#{sign,jdbcType=VARCHAR},</if> 
    </trim> 
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resto.service.brand.entity.ModuleList">update module_list
    <set> 
      <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>  
      <if test="sign != null">sign = #{sign,jdbcType=VARCHAR},</if> 
    </set> where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resto.service.brand.entity.ModuleList">update module_list set name = #{name,jdbcType=VARCHAR}, sign = #{sign,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}</update>
  <select id="selectList" resultType="ModuleList">select * from module_list</select>
  
  <delete id="deleteBrandModuleList">
  	delete from brand_module_list where brand_id=#{0}
  </delete>
  <insert id="insertBatch">
  	insert into brand_module_list  (brand_id,module_list_id) values
	<foreach collection="moduleIds" item="moduleId"  separator=",">
		(#{brandId},#{moduleId})
	</foreach>
  </insert>
  <select id="selectBrandHasModule" resultType="Integer">
  	select module_list_id from brand_module_list where brand_id=#{0}
  </select>
  <select id="selectBySignAndBrandId" resultType="ModuleList">
  SELECT * FROM module_list
	WHERE SIGN=#{0} AND id IN 
	(SELECT module_list_id FROM brand_module_list WHERE brand_id=#{1})
  </select>
</mapper>
