<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.service.shop.mapper.ArticleFamilyMapper">
  <resultMap id="BaseResultMap" type="com.resto.service.shop.entity.ArticleFamily">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="peference" property="peference" jdbcType="INTEGER"/>
    <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
    <result column="level" property="level" jdbcType="INTEGER"/>
    <result column="shop_detail_id" property="shopDetailId" jdbcType="VARCHAR"/>
    <result column="distribution_mode_id" property="distributionModeId" jdbcType="INTEGER"/>
    <collection property="articleList" javaType="java.util.List" ofType="com.resto.service.shop.entity.Article">
        <id column="articleId" property="id"/>
        <result column="articleName" property="name"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">id, name, peference, parent_id, level, shop_detail_id, distribution_mode_id</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">select 
    <include refid="Base_Column_List"/> from tb_article_family where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">delete from tb_article_family where id = #{id,jdbcType=VARCHAR}</delete>
  <insert id="insert" parameterType="com.resto.service.shop.entity.ArticleFamily">insert into tb_article_family (id, name, peference, parent_id, level, shop_detail_id, distribution_mode_id) values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{peference,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{shopDetailId,jdbcType=VARCHAR}, #{distributionModeId,jdbcType=INTEGER})</insert>
  <insert id="insertSelective" parameterType="com.resto.service.shop.entity.ArticleFamily">insert into tb_article_family 
    <trim prefix="(" suffix=")" suffixOverrides=","> 
      <if test="id != null">id,</if>  
      <if test="name != null">name,</if>  
      <if test="peference != null">peference,</if>  
      <if test="parentId != null">parent_id,</if>  
      <if test="level != null">level,</if>  
      <if test="shopDetailId != null">shop_detail_id,</if>  
      <if test="distributionModeId != null">distribution_mode_id,</if> 
    </trim>  
    <trim prefix="values (" suffix=")" suffixOverrides=","> 
      <if test="id != null">#{id,jdbcType=VARCHAR},</if>  
      <if test="name != null">#{name,jdbcType=VARCHAR},</if>  
      <if test="peference != null">#{peference,jdbcType=INTEGER},</if>  
      <if test="parentId != null">#{parentId,jdbcType=VARCHAR},</if>  
      <if test="level != null">#{level,jdbcType=INTEGER},</if>  
      <if test="shopDetailId != null">#{shopDetailId,jdbcType=VARCHAR},</if>  
      <if test="distributionModeId != null">#{distributionModeId,jdbcType=INTEGER},</if> 
    </trim> 
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resto.service.shop.entity.ArticleFamily">update tb_article_family 
    <set> 
      <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>  
      <if test="peference != null">peference = #{peference,jdbcType=INTEGER},</if>  
      <if test="parentId != null">parent_id = #{parentId,jdbcType=VARCHAR},</if>  
      <if test="level != null">level = #{level,jdbcType=INTEGER},</if>  
      <if test="shopDetailId != null">shop_detail_id = #{shopDetailId,jdbcType=VARCHAR},</if>  
      <if test="distributionModeId != null">distribution_mode_id = #{distributionModeId,jdbcType=INTEGER},</if> 
    </set> where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resto.service.shop.entity.ArticleFamily">update tb_article_family set name = #{name,jdbcType=VARCHAR}, peference = #{peference,jdbcType=INTEGER}, parent_id = #{parentId,jdbcType=VARCHAR}, level = #{level,jdbcType=INTEGER}, shop_detail_id = #{shopDetailId,jdbcType=VARCHAR}, distribution_mode_id = #{distributionModeId,jdbcType=INTEGER} where id = #{id,jdbcType=VARCHAR}</update>
  <select id="selectList" resultType="ArticleFamily">select * from tb_article_family
  	<where>
  		<if test="shopId!=null and shopId!=''">
  			shop_detail_id=#{shopId}
  		</if>
  	</where>
  	ORDER BY peference
  </select>
  
  <select id="selectListByDistributionModeId" resultType="ArticleFamily">

  		select * from tb_article_family where shop_detail_id=#{currentShopId}
  		 and distribution_mode_id=#{distributionModeId} ORDER BY peference
  </select>

</mapper>
