<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resto.brand.web.dao.ReportDownloadListMapper">
  <resultMap id="BaseResultMap" type="com.resto.brand.web.model.ReportDownloadList">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="brand_id" property="brandId" jdbcType="VARCHAR"/>
    <result column="shop_id" property="shopId" jdbcType="VARCHAR"/>
    <result column="report_name" property="reportName" jdbcType="VARCHAR"/>
    <result column="state" property="state" jdbcType="TINYINT"/>
    <result column="path" property="path" jdbcType="VARCHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP"/>
    <result column="download_time" property="downloadTime" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List">id, brand_id, shop_id, state, report_name, path, create_time, finish_time, download_time</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">select 
    <include refid="Base_Column_List"/> from report_download_list where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">delete from report_download_list where id = #{id,jdbcType=INTEGER}</delete>
  <insert id="insert" parameterType="com.resto.brand.web.model.ReportDownloadList">insert into report_download_list (id, brand_id, shop_id, state, path, create_time, finish_time, download_time) values (#{id,jdbcType=INTEGER}, #{brandId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{path,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{downloadTime,jdbcType=TIMESTAMP})</insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.resto.brand.web.model.ReportDownloadList">insert into report_download_list
    <trim prefix="(" suffix=")" suffixOverrides=","> 
      <if test="id != null">id,</if>  
      <if test="brandId != null">brand_id,</if>  
      <if test="shopId != null">shop_id,</if>
      <if test="reportName != null">report_name,</if>
      <if test="state != null">state,</if>  
      <if test="path != null">path,</if>  
      <if test="createTime != null">create_time,</if>  
      <if test="finishTime != null">finish_time,</if>  
      <if test="downloadTime != null">download_time,</if> 
    </trim>  
    <trim prefix="values (" suffix=")" suffixOverrides=","> 
      <if test="id != null">#{id,jdbcType=INTEGER},</if>  
      <if test="brandId != null">#{brandId,jdbcType=VARCHAR},</if>  
      <if test="shopId != null">#{shopId,jdbcType=VARCHAR},</if>
      <if test="reportName != null">#{reportName,jdbcType=VARCHAR},</if>
      <if test="state != null">#{state,jdbcType=TINYINT},</if>
      <if test="path != null">#{path,jdbcType=VARCHAR},</if>  
      <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>  
      <if test="finishTime != null">#{finishTime,jdbcType=TIMESTAMP},</if>  
      <if test="downloadTime != null">#{downloadTime,jdbcType=TIMESTAMP},</if> 
    </trim> 
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resto.brand.web.model.ReportDownloadList">update report_download_list 
    <set> 
      <if test="brandId != null">brand_id = #{brandId,jdbcType=VARCHAR},</if>  
      <if test="shopId != null">shop_id = #{shopId,jdbcType=VARCHAR},</if>  
      <if test="state != null">state = #{state,jdbcType=TINYINT},</if>  
      <if test="path != null">path = #{path,jdbcType=VARCHAR},</if>  
      <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>  
      <if test="finishTime != null">finish_time = #{finishTime,jdbcType=TIMESTAMP},</if>  
      <if test="downloadTime != null">download_time = #{downloadTime,jdbcType=TIMESTAMP},</if> 
    </set> where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resto.brand.web.model.ReportDownloadList">update report_download_list set brand_id = #{brandId,jdbcType=VARCHAR}, shop_id = #{shopId,jdbcType=VARCHAR}, state = #{state,jdbcType=TINYINT}, path = #{path,jdbcType=VARCHAR}, create_time = #{createTime,jdbcType=TIMESTAMP}, finish_time = #{finishTime,jdbcType=TIMESTAMP}, download_time = #{downloadTime,jdbcType=TIMESTAMP} where id = #{id,jdbcType=INTEGER}</update>
  <select id="selectList" resultType="ReportDownloadList">select * from report_download_list</select>
</mapper>
