<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.resto.brand.web.dao.VersionBrandPackageMapper" >
  <resultMap id="BaseResultMap" type="com.resto.brand.web.model.VersionBrandPackage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="package_id" property="packageId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, package_id, brand_id, shop_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_version_brand_package
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_version_brand_package
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.resto.brand.web.model.VersionBrandPackage" >
    insert into tb_version_brand_package (id, package_id, brand_id, 
      shop_id)
    values (#{id,jdbcType=INTEGER}, #{packageId,jdbcType=INTEGER}, #{brandId,jdbcType=VARCHAR}, 
      #{shopId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.resto.brand.web.model.VersionBrandPackage" >
    insert into tb_version_brand_package
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="packageId != null" >
        package_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="packageId != null" >
        #{packageId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.resto.brand.web.model.VersionBrandPackage" >
    update tb_version_brand_package
    <set >
      <if test="packageId != null" >
        package_id = #{packageId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.resto.brand.web.model.VersionBrandPackage" >
    update tb_version_brand_package
    set package_id = #{packageId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <delete id="deleteByBrandId" parameterType="java.lang.Integer" >
    delete from tb_version_brand_package
    where brand_id = #{brandId}
  </delete>

  <select id="selectBrandPackage" resultMap="BaseResultMap">
    select
   brand_id
    from tb_version_brand_package
    where package_id = #{packageId}
  </select>

  <delete id="deleteByPackageId" parameterType="java.lang.Integer" >
    delete from tb_version_brand_package
    where package_id = #{packageId}
  </delete>
</mapper>